.container {
  margin-top: 35px;
}

.App-footer {
  margin: 25px;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  color: #282a36;
}

.App-footer a {
  text-decoration: none;
  color: #a280d4;
}
